@using BlazorShop.Shared.Models
@page "/"

<h1>BlazorShop</h1>

<ProductListing></ProductListing>
<ProductListing Category="Category.Fashion"></ProductListing>
<ProductListing Category="Category.Apparel" ItemsPerPage="5"></ProductListing>
