@using BlazorShop.Shared.Models
@page "/"

<h1>BlazorShop</h1>

<ProductListing ProductCategory="Category.Apparel" ItemsPerPage="4"></ProductListing>
<ProductListing ProductCategory="Category.Bicycles" ItemsPerPage="4"></ProductListing>
<ProductListing ProductCategory="Category.Fashion" ItemsPerPage="4"></ProductListing>
<ProductListing ProductCategory="Category.Jewelry" ItemsPerPage="4"></ProductListing>
<ProductListing ProductCategory="Category.Snowdevil" ItemsPerPage="4"></ProductListing>
