@page "/product/{ProductId:int}"
@using BlazorShop.Shared.Models;
@using BlazorShop.Client.Services;

@inject IDataService DataService

<h1>Product Details</h1>
@if (Product == null)
{
    <p><em>Loading Product Details...</em></p>
} else
{
    <p>Title</p>
    <p>@Product.Title</p>

    <p>Description</p>
    <p>@Product.HtmlDescription</p>
}

@functions{
    [Parameter]
    int ProductId { get; set; }
    public Product Product { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Product = await DataService.GetProductDetails(ProductId);
    }

}